/********general attributes***********/
html body{
	background-color: black;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.rest{
	text-align: left;
	margin-top: 65px;
	margin-top: 0px;
}
h1,h2,h3,h4,h5,h6{
	color: white;
}

.no_top{
	margin-top: 0px;
}

.subtitle{
	font-size: 16px;
}

p{
	font-family: 'Sulphur Point', sans-serif;
	font-size: 26px;
	padding-left: 20%;
	padding-right: 20%;
	height: auto;
	color: white;
	justify-content: center;
}
a{
	text-decoration: none;
	color: #fffd9e;
}

.right{
	position: absolute;
	right: 0;
}
/******index page*******8*/
.hello{
	color: white;
	font-size: 65px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.fahim{
	color: yellow;
	font-size: 140px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.click{
	text-align: center;
	margin-bottom: 20px;
}
.index_img_div{
	text-align: center;
}
 .index_img{
 	height: 360px;
 	width: 360px;
 	border-radius: 600px;
 }

 button{
 	color: yellow;
 	background-color: black;
 	border: 1px solid yellow;
 }

.copyright{
	margin-bottom: 0px;
}

.copyright_p{
	font-size: 18px;
	color: black;
	margin: 0px;
}

.copyright_p a{
	color: black;
	text-decoration: underline;
}


.index{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/***********styles for footers are here***********/

.icon
{
	margin: 20px;
	width: 50px;
	height: 50px;
}

footer{
	text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
	background-color: yellow;
}
/*******dp********/
.bg{
	background-image: url("../img/background_cover.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.empty
{
   /*width: 100%;
   float: left;*/
}

.inside{


    font-family: 'Bree Serif', serif;
	font-size: 160px;
	color: yellow;
	margin-top: 59px;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}
/********styles for navigation bar are here*********/
nav{
	position: fixed;
	top: 0;
	display:inline-flex;
	/*border-bottom: 2px solid;*/
	background-color: black;
	width: 100%;
	justify-content: center;
}

nav a{
	font-family: 'Sulphur Point', sans-serif;
	font-size: 20px;
	padding: 16px 15px; 
	background-color: black;
	color: yellow;	
	text-transform: uppercase;


}
.active{
	background-color: yellow;
	color: black;
	border-bottom: 2px solid;
	border-color: yellow;
}
nav>a:hover{
	border-bottom: 2px solid;
	border-color: yellow;
	
}


/*****************resume*****************************/
.form{
	padding-top: 50px;
}
.uni:hover{
	text-decoration: underline;
}
.title{
	font-family: 'Sulphur Point', sans-serif;
	text-transform: uppercase;
	color: yellow;
	font-size: 26px;
	padding-left: 20%;
	padding-right: 20%;
	margin-bottom: 0px;
}

.description{
	margin-top: 0px;
	font-size: 24px;
}

.github{
	padding-left: 30px; 
	height: 50px;
	width: auto;
}