html, body,p {
margin: 0px;
padding: 0px;
  border: 0px;
}

 html{
 	background: #0b0c10;
 }

.hello{
	font-size: 45px;
	text-align: center;
}

.fahim{
	font-size: 140px;
	text-align: center;
}


.wrapper{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	height: auto;
	background-color: gray;
}


/*styles for footers are here*/

.icon
{
	margin: 20px;
	width: 50px;
	height: 50px;
}

.social
{
	height: 10%;
	width: 10%;
	padding-top: 100px;
}

footer{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
    bottom: 0;
	background-color: darkgray;
}

/*styles for navigation bar are here*/

.main_nav{
	display: flex;
	justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline-block;
  padding-top: 20px;/*
  padding-bottom: 20px;*/ 
  margin: 0px;
}

li a {

	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
}

li a:hover {
  background-color: green;
} 

li a.active{
	color: white;
	background-color: red;
}

