body{
	background-image: url(bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	color: white;
	margin-top: 100px;
	text-align: center;
}

/*
.clear{
	text-align: center;
	background: transparent;
}
*/
.btn-outline-danger {
	text-align: center;
	margin-top: 290px;
}

#mc_embed_signup{
	text-align: center;
}