 
.l1 {
/*  width: auto;
  height: auto;
*/  /*margin: 0 auto;*/
  /*position: relative;*/
  padding: 0;
  margin-left: 0; 
	margin-right: auto;
	padding-bottom: 60px;

}

li:nth-child(3) p:nth-child(1){
  color: yellow;
}


.l1 li{
	list-style-type: none;

}


.l1 .study-title1{
  color: yellow;
}
